modem.img
product/data-app/MiMediaEditor/MiMediaEditor.apk
product/data-app/SmartHome/SmartHome.apk
product/app/AiA\s\stVi\sion/AiA\s\stVi\sion.apk
product/app/VoiceA\s\si\stAndroidT/VoiceA\s\si\stAndroidT.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/priv-app/Gm\sCore/Gm\sCore.apk
product/priv-app/MIUIBrow\ser/MIUIBrow\ser.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
recovery.img
bootRE/boot.elf
\sy\stem_ext/priv-app/Setting\s/Setting\s.apk
